body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  .wrapper{
    width: 100%;
    margin: 1.5em;
    margin-left: auto;
    min-height: calc(100vh - 5em);

    display: flex;
    flex-direction: column;
}

  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .cell {
    background: #fff;
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5em;
    height: 1.5em;
    margin-right: -5px;
    margin-top: -5px;
    padding: 0;
    text-align: center;
    width: 1.5em;
    border: 1px solid #999;
  }
  
  ::placeholder {
    color: #eee;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #eee;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #eee;
  }

  .cell:focus {
    outline: none;
  }

  .cell:hover {
    background: #f5f5f5;
  }
  
  .hintCell {
    color: transparent;
    text-shadow: 0 0 0#000;
    background: #ccc;
  }

  .hintCell:hover {
    cursor: default;
    background: #ccc;
  }

  .top {
    border-top: 3px solid #000;
  }

  .bottom {
    border-bottom: 3px solid #000;
  }

  .left {
    border-left: 3px solid #000;
  }

  .right {
    border-right: 3px solid #000;
  }

  .win {
    color: green;
  }

  .kbd-navigation .cell:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    margin-top: -1.5em;
    height: 2em;
}

  