body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .cell {
    background: #fff;
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5em;
    height: 1.5em;
    margin-right: -5px;
    margin-top: -5px;
    padding: 0;
    text-align: center;
    width: 1.5em;
    border: 1px solid #999;
  }
  
  .cell:focus {
    outline: none;
  }

  .cell:hover {
    background: #f5f5f5;
  }
  
  .hintCell {
    color: transparent;
    text-shadow: 0 0 0#000;
    background: #ccc;
  }

  .hintCell:hover {
    cursor: default;
    background: #ccc;
  }

  .top {
    border-top: 3px solid #000;
  }

  .bottom {
    border-bottom: 3px solid #000;
  }

  .left {
    border-left: 3px solid #000;
  }

  .right {
    border-right: 3px solid #000;
  }

  .kbd-navigation .cell:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  